<!-- Right Sidebar-->

<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="dropdown profile-element">
          <div>
            <h2 class="text-center text-green">ALAN</h2>
            <img alt="image" class="img-circle hidden" src="img/profile_small.jpg"/>
          </div>
          <div class="text-center">
            <strong class="font-bold text-center text-white"><%= current_user.company_name || "BlaBlaCar" %></strong>
          </div>

        </div>
        <div class="logo-element">
          AL
        </div>
      </li>
      <li class="active-link-container">
        <%= link_to current_user, class: "hidden-xs" do %>
        <div class="text-center padding-5">
          <i class="fa fa-th-large fa-2x"></i>
        </div>
        <div class="text-center padding-5">
          <h3>Accueil</h3>
        </div>
        <% end %>

        <%= link_to current_user, class: "visible-xs" do %>
          <i class="fa fa-th-large"></i>
          <span class="nav-label">Accueil</span>
        <% end %>
      </li>

      <li class="active-link-container">
        <%= link_to user_employees_path(current_user), class: "hidden-xs" do %>
        <div class="text-center padding-5">
          <i class="fa fa-users fa-2x"></i>
        </div>
        <div class="text-center padding-5">
          <h3>Assurés</h3>
        </div>
        <% end %>
        <%= link_to user_employees_path(current_user), class: "visible-xs" do %>
          <i class="fa fa-users"></i>
          <span class="nav-label">Assurés</span>
        <% end %>
      </li>

      <li class="active-link-container">

        <%= link_to packages_path, class: "hidden-xs" do %>
        <div class="text-center padding-5">
          <i class="fa fa-diamond fa-2x"></i>
        </div>
        <div class="text-center padding-5">
          <h3>Votre package</h3>
        </div>
        <% end %>
        <%= link_to packages_path, class: "visible-xs" do %>
          <i class="fa fa-diamond"></i>
          <span class="nav-label">Packages</span>

        <% end %>

      </li>

      <li class="active-link-container">

        <%= link_to user_invoices_path(current_user), class: "hidden-xs" do %>
        <div class="text-center padding-5">
          <i class="fa fa-money fa-2x"></i>
        </div>
        <div class="text-center padding-5">
          <h3>Facturation</h3>
        </div>
        <% end %>
        <%= link_to user_invoices_path(current_user), class: "visible-xs" do %>
          <i class="fa fa-money"></i>
          <span class="nav-label">Facturation</span>

        <% end %>

      </li>

      <li class="active-link-container">
        <%= link_to legal_informations_path, class: "hidden-xs" do %>
        <div class="text-center padding-5">
          <i class="fa fa-globe fa-2x"></i>
        </div>
        <div class="text-center padding-5">
          <h3>Portail légal</h3>
        </div>
        <% end %>
        <%= link_to legal_informations_path, class: "visible-xs" do %>
          <i class="fa fa-globe"></i>
          <span class="nav-label">Portail légal</span>

        <% end %>
      </li>

      <li class="active-link-container">
        <%= link_to edit_user_path(current_user), class: "hidden-xs" do %>
        <div class="text-center padding-5">
          <i class="fa fa-cogs fa-2x"></i>
        </div>
        <div class="text-center padding-5">
          <h3>Préférences</h3>
        </div>
        <% end %>
        <%= link_to edit_user_path(current_user), class: "visible-xs" do %>
          <i class="fa fa-cogs"></i>
          <span class="nav-label">Préférences</span>
        <% end %>
      </li>






    </ul>

  </div>
</nav>


<%= content_for(:end_script) do %>
<script>
$(function() {
  var currentPage = location.pathname;
  $('.active-link-container').each(function() {
      var active = false;
      $(this).find("a").each( function() {
        var currentHref = $(this).attr('href');
        //alert($(this).attr('href'));
        if(currentHref == currentPage) {
            active = true;
        }
      })
      if (active == true){
        $(this).addClass("active");
      }
    })
});



</script>


<% end %>

<!-- End of Sidebar -->
