<%= provide(:main_title, "Gestion des assurés" ) %>
<%= content_for(:breadcrumb) do %>
<li>
<a href="index.html">Accueil</a>
</li>
<li class="active">
<strong>Employés assurés</strong>
</li>
<% end %>

<div class="row">

<div class="col-md-12">
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox-content m-b-sm border-bottom">

      <div class="pull-right">
        <%= link_to "Ajouter un nouvel Employé", new_user_employee_path(@user),class: "btn btn-primary btn-lg" %>
      </div>

      <div class="p-xs">
        <div class="pull-left m-r-md">
          <i class="fa fa-users text-navy mid-icon"></i>
        </div>
        <h2>
          <% if @employees.count > 1 %>
          <%= @employees.count %>
          Employés assurés

        <% else %>
          <%= @employees.count %>
          Employé assuré

          <% end %>

        </h2>
        <span>Vous pouvez suivre ici le statut de chacun de vos employés et gérer l'assurance pour vos employés</span>
      </div>

    </div>

    <%= render partial: "employees/employees_list", locals: {employees: @employees, user: @user} %>

  </div>
</div>
</div>
