<%= provide(:main_title, "Recherche Alan" ) %>
<%= content_for(:breadcrumb) do %>
<li>
<%= link_to "Accueil", current_user %>
</li>

<li class="active">
<strong>Recherche Alan</strong>
</li>
<% end %>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <h2>
                        5 résultats pour : <span class="text-navy"><%= @query %></span>
                    </h2>


                    <div class="search-form">

                        <%= form_tag({controller: "search", action: "result"}, method: "get", class: "") do %>
                        <div class="input-group">
                            <input type="text" placeholder="Rechercher sur ALAN" name="query" class="form-control input-lg">
                            <div class="input-group-btn">
                                <button class="btn btn-lg btn-primary" type="submit">
                                    Search
                                </button>
                            </div>
                        </div>

                        <% end %>

                    </div>

                  </div>

                </div>

              </div>

            </div>

          </div>
