<%= form_for(@invoice) do |f| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :emission_date %><br>
    <%= f.date_select :emission_date %>
  </div>
  <div class="field">
    <%= f.label :begin_date %><br>
    <%= f.date_select :begin_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.date_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :amount_ht %><br>
    <%= f.text_field :amount_ht %>
  </div>
  <div class="field">
    <%= f.label :amount_ttc %><br>
    <%= f.text_field :amount_ttc %>
  </div>
  <div class="field">
    <%= f.label :paid_status %><br>
    <%= f.check_box :paid_status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
