<div class="forum-item <%= active %>">
  <div class="row">
    <div class="col-md-9">
      <div class="forum-icon">
        <i class="fa <%= type %>"></i>
      </div>
      <a href="#" class="forum-item-title"><%= title %></a>
      <div class="forum-sub-title"><%= description %>
      </div>
    </div>
    <div class="col-md-1 forum-info">
      <span class="views-number">
        <%= date %>
      </span>
    </div>
  </div>
</div>
