<%= form_for(@packaging) do |f| %>
  <% if @packaging.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@packaging.errors.count, "error") %> prohibited this packaging from being saved:</h2>

      <ul>
      <% @packaging.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :package_id %><br>
    <%= f.text_field :package_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :refund_percent %><br>
    <%= f.text_field :refund_percent %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
